body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(237, 248, 207);
}
header{
    display:flex;
    width: 100vw;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
}
#logo {
    width: 18vw;
    height: 18vw;
}
img {
    display: block;
    width: 10vw;
    height: 10vw;
    /* padding: 1vw; */
    border-radius: 15px;
}
h1{
    display: flex;
    color: rgb(221, 24, 33);
    font-size: 8vw     ;
    font-style: italic;  
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
}
h2{
    /* display: block; */
    align-items: center;
    font-size: 2.5vw;
    color: rgb(161,198,66);
}
#search-section {
    border-top: 1vw solid rgb(161,198,66);
    border-bottom: .5vw inset rgb(161,198,66);
    display:flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    /* padding: 12%; */
}
#recipe-button{
    border-radius: 10px;
    height: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
    color:rgb(61, 59, 59);
    background-color: rgba(161,198,66,0.85);
}
#food-input {
    border-radius: 10px;
    font-size: 1.5vw;
}
.item-header {
    color: rgb(221, 24, 33);
    font-weight: bold;
    font-size: 2vw;
}
.outside-link {
    font-size:1.5vw;
    color: rgb(161,198,66);
}  
.inner-link {
    font-size:1.5vw;
    color: rgb(12,155,75);
    text-decoration: underline;
}  
.item-section {
    border: .3vw solid rgb(161,198,66);
    margin-bottom: 2vw;
    border-radius: 10px;
    display:flex;
    padding: 1.5vw;
}
ul {
    padding-left:0;
    list-style-type: none;
}
.item-details {
    display:flex;
    margin: 1vw;
    flex-direction: column;
}
.hide-ingredients{
    display:none;
}
.hide-health-info {
    display:none;
}