body {
    font-family: 'Open Sans', sans-serif;
    background-color:  rgb(237, 248, 207);
}
header{
    display:flex;
    width: 100vw;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
}
#logo {
    width: 15vw;
    height: 15vw;
}
img {
    display: block;
    width: 10vw;
    height: 10vw;
    /* padding: 1vw; */
    border-radius: 15px;
}
h1{
    display: flex;
    color: rgb(221, 24, 33);
    font-size: 8vw;
    /* font-style: italic;   */
    text-shadow: 2px 2px 5px rgb(68, 5, 8) ;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%; 
    justify-content: space-evenly;
    align-items: center;
}
h2{
    /* display: block; */
    /* text-shadow: 2px 2px 5px  rgb(137, 189, 5) ; */
    align-items: center;
    font-size: 2.5vw;
    color: rgb(161,198,66);
}
#search-section {
    border-top: 1vw solid rgb(161,198,66);
    border-radius: 15px;
    /* border-bottom: .5vw inset rgb(161,198,66); */
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    padding-top: 3%;
    font-size: 1.8vw;
    /* padding-bottom: 3%; */
    /* padding: 12%; */
}
#filter-section {
    /* border-top: 1vw solid rgb(161,198,66); */
    display:flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* justify-items: space-around; */
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.3vw;
    /* padding: 12%; */
    margin: 0% 20%;
}
#recipe-section {
border-top: .5vw solid rgb(161,198,66);
border-radius: 10px;
}
#recipe-button{
    border-radius: 10px;
    height: 2.4vw;
    font-size: 1.5vw;
    font-weight: bold;
    color:rgb(61, 59, 59);
    background-color: rgba(161,198,66,0.85);
}
#food-input {
    border-radius: 10px;
    font-size: 1.5vw;
    height: 2vw;
}
.item-header {
    color: rgb(221, 24, 33);
    text-shadow: .8px .8px 1.8px rgb(68, 5, 8) ;
    font-weight: bold;
    font-size: 1.8vw;
}
.outside-link {
    font-size:1.4vw;
    color: rgb(161,198,66);
}  

.item-section {
    border: .3vw solid rgb(161,198,66);
    margin-bottom: 2vw;
    border-radius: 10px;
    display:flex;
    padding: 1.5vw;
}
ul {
    padding-left:0;
    list-style-type: none;
}
.item-details {
    display:flex;
    margin: 1vw;
    flex-direction: column;
}
.hide-ingredients{
    display:none;
}
.hide-health-info {
    display:none;
}
span{
    font-size:1vw;
}